#root {
  max-width: 1280px;
  min-width: 100%;

  .app-body {
    padding: 2rem;
    width: 100%;
  }
}

@keyframes loader {
  0% { transform: translateX(-120%); }
  50% { transform: translateX(120%); }
  100% { transform: translateX(120%); }
}
